version: '3.7'
services:
  application:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        TimeZone: Asia/Taipei
    image: 'local-dev-ruby-dx:latest'
    container_name: local-dev-ruby-dx
    volumes:
      - ..:/usr/workspace
      - vscode-extensions:/home/${USER}/.vscode-server/extensions
      - vscode-extensions:/home/${USER}/.vscode-server-insiders/extensions
    command: sleep infinity

volumes:
  vscode-extensions:
    name: local-dev-ruby-dx-vscode-extensions

 
